<%- include('../partials/header')%>
<div class="container mt-5 p-3 bg-warning bg-opacity-50">
    <ul class="d-flex justify-content-evenly fs-3">
        <li><a href="/education">Eduaction</a></li>
        <li><a href="/skill">Skill</a></li>
        <li><a href="/project">Project</a></li>
        <li><a href="/experience">Experience</a></li>
        <li><a href="/interest">Interest</a></li>
    </ul>
    <hr />
    <form action="/add-experience" class="education mt-5 container d-flex justify-content-evenly flex-wrap w-75" method="POST">
        <input class="form-control w-50 ms-5 mt-2 " type="text" placeholder="Company Name" name="company" />
        <input class="form-control w-50 ms-5 mt-2 " type="text" placeholder="Post" name="Post" />
        <input class="form-control w-50 ms-5 mt-2 " type="text" placeholder="Field" name="Field" />
        <input class="form-control w-50 ms-5 mt-2 " type="text" placeholder="Working period" name="year" /><br>
      

        <button class="btn btn-dark mt-3 w-50">Add Experience</button>
    </form>
    <hr />
    <div class="d-flex flex-wrap">
        <% user.experience.forEach((e, i)=> { %>
            <div class="card me-3 mb-3" style="width: 18rem">
                <div class="card-body">
                    <h5 class="card-title"><%= e.company%></h5>
                    <h6 class="card-subtitle mb-2 text-muted">FIELD-<%= e.Field%>  </h6>
                    <h6> POST-<%= e.Post%></h6>
                    <p class="card-text">DURATION- <%= e.year%></p>
                    <a href="/delete-exp/<%= i%>" class="btn btn-danger card-link">Remove</a>
                </div>
            </div>
       
        <% })%>
    
</div>
</div>

<%- include('../partials/footer')%>