<%- include('./partials/header')%>
<div class="container mt-5 bg-success bg-opacity-50 ">
    <div class="d-flex w-100 ">
        <div class="d-flex mb-3 w-75 p-5">
            <div class="me-5">
                <img
                    style="object-fit: cover"
                    class="rounded-circle profilePic"
                    height="100"
                    width="100"
                    src="/images/<%= user.avatar%>"
                    alt=""
                />
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input class="d-none uploadImg" name="avatar" type="file" />
                    <button class="mt-3 fs-4 btn btn-primary btn-opacity-50">Upload Image</button>
                </form>
            </div>
            <div>
                <h1 class="fs-1 fw-bold "><%= user.username%></h1>
                <h3 class="fs-4 fw-semibold"><%= user.email%></h3>
                <p>
                    <small class="text-muted">
                        <a
                            class="text-decoration-none text-dark fs-1"
                            href="<%= user.links.linkedin%>"
                            ><i class="ri-linkedin-box-fill"></i
                        ></a>
    
                        <a
                            class="text-decoration-none text-dark fs-1 ms-3"
                            href="<%= user.links.github%>"
                            ><i class="ri-github-fill"></i
                        ></a>
    
                        <a
                            class="text-decoration-none text-dark fs-1 ms-3"
                            href="<%= user.links.behance%>"
                            ><i class="ri-behance-fill"></i
                        ></a>
                    </small>
                </p>
            </div>
        </div>
    
    <div class="btn d-flex flex-column w-25  align-items-end">
        <a class="btn btn-primary fs-4 w-100 " href="/signout">signout</a><br><br><br>
        <a class="btn btn-primary fs-4  w-100 " href="/resetpassword">Reset Password</a><br>
        
        
        </div>
    </div>

   
    <form action="/update/<%= user._id%>" method="POST">
        <input
            class="mb-3 form-control w-75"
            type="text"
            placeholder="username"
            name="username"
            value="<%= user.username%>"
        />
        <input
            class="mb-3 form-control w-75"
            type="email"
            placeholder="email"
            name="email"
            value="<%= user.email%>"
        />

        <input
            class="mb-3 form-control w-75"
            type="text"
            placeholder="contact"
            name="contact"
            value="<%= user.contact%>"
        />

        <label class=" btn btn-primary mb-3 " for="">Links</label>
        <input
            class="mb-3 form-control w-75"
            type="url"
            placeholder="https://linkedin.com"
            name="linkedin"
            value="<%= user.links.linkedin%>"
        />
        <input
            class="mb-3 form-control w-75"
            type="url"
            placeholder="https://github.com"
            name="github"
            value="<%= user.links.github%>"
        />
        <input
            class="mb-3 form-control w-75"
            type="url"
            placeholder="https://behance.com"
            name="behance"
            value="<%= user.links.behance%>"
        />

        <button class="btn btn-primary fs-4">Update User Information</button>
    </form>
</div>

<script>
    const profilePic = document.querySelector(".profilePic");
    const uploadImg = document.querySelector(".uploadImg");
    profilePic.addEventListener("click", () => {
        console.log("hello");
        uploadImg.click();
    });
</script>

<%- include('./partials/footer')%>


  




  
